In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\Home\\Documents\\data science\\week6\\data\\netflix_titles.csv")

In [3]:
print(df.head(10))

  show_id     type                             title  \
0      s1    Movie              Dick Johnson Is Dead
1      s2  TV Show                     Blood & Water
2      s3  TV Show                         Ganglands
3      s4  TV Show             Jailbirds New Orleans
4      s5  TV Show                      Kota Factory
5      s6  TV Show                     Midnight Mass
6      s7    Movie  My Little Pony: A New Generation
7      s8    Movie                           Sankofa
8      s9  TV Show     The Great British Baking Show
9     s10    Movie                      The Starling

                        director  \
0                Kirsten Johnson
1                            NaN
2                Julien Leclercq
3                            NaN
4                            NaN
5                  Mike Flanagan
6  Robert Cullen, Jos√© Luis Ucha
7                   Haile Gerima
8                Andy Devonshire
9                 Theodore Melfi

                                                cast  \
0                                                NaN
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5  Kate Siegel, Zach Gilford, Hamish Linklater, H...
6  Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...

                                             country          date_added  \
0                                      United States  September 25, 2021
1                                       South Africa  September 24, 2021
2                                                NaN  September 24, 2021
3                                                NaN  September 24, 2021
4                                              India  September 24, 2021
5                                                NaN  September 24, 2021
6                                                NaN  September 24, 2021
7  United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
8                                     United Kingdom  September 24, 2021
9                                      United States  September 24, 2021

   release_year rating   duration  \
0          2020  PG-13     90 min
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons
5          2021  TV-MA   1 Season
6          2021     PG     91 min
7          1993  TV-MA    125 min
8          2021  TV-14  9 Seasons
9          2021  PG-13    104 min

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries
6                           Children & Family Movies
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
5  The arrival of a charismatic young priest brin...
6  Equestria's divided. But a bright-eyed hero be...
7  On a photo shoot in Ghana, an American model s...
8  A talented batch of amateur bakers face off in...
9  A woman adjusting to life after a loss contend...

In [4]:
print(df.isnull().sum())

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [9]:
df["director"].fillna('Unknown',inplace=True)

In [10]:
print(df.isnull().sum())

show_id           0
type              0
title             0
director          0
cast            825
country         831
date_added       10
release_year      0
rating            4
duration          3
listed_in         0
description       0
dtype: int64

In [11]:
print(df["show_id"].count())

8807

In [12]:
print(df["director"].head(10))

0    Unknown
1    Unknown
2    Unknown
3    Unknown
4    Unknown
5    Unknown
6    Unknown
7    Unknown
8    Unknown
9    Unknown
Name: director, dtype: object

In [13]:
df["cast"].fillna("Not Available",inplace=True)

In [14]:
print(df.isnull().sum())

show_id           0
type              0
title             0
director          0
cast              0
country         831
date_added       10
release_year      0
rating            4
duration          3
listed_in         0
description       0
dtype: int64

In [15]:
print(df["country"].value_counts(dropna=False))

country
United States                                             2818
India                                                      972
NaN                                                        831
United Kingdom                                             419
Japan                                                      245
                                                          ...
Germany, Canada, United States                               1
Denmark, United Kingdom, South Africa, Sweden, Belgium       1
Serbia, South Korea, Slovenia                                1
United Kingdom, Spain, Belgium                               1
South Africa, United States, Japan                           1
Name: count, Length: 749, dtype: int64

In [ ]:
df.fillna({'country':'Unknown'}, inplace=True)

In [18]:
print(df.isnull().sum())

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

In [19]:
print(df["date_added"].value_counts(dropna=False))

date_added
January 1, 2020      109
November 1, 2019      89
March 1, 2018         75
December 31, 2019     74
October 1, 2018       71
                    ...
 June 1, 2018          1
October 21, 2018       1
February 8, 2016       1
June 5, 2018           1
October 14, 2017       1
Name: count, Length: 1768, dtype: int64

In [ ]:
df['date_added'].fillna(df['date_added'].mode()[0], inplace=True)

In [22]:
print(df["date_added"].value_counts(dropna=False))

date_added
January 1, 2020       119
November 1, 2019       89
March 1, 2018          75
December 31, 2019      74
October 1, 2018        71
                     ...
February 2, 2017        1
September 11, 2019      1
May 17, 2015            1
June 5, 2018            1
October 14, 2017        1
Name: count, Length: 1767, dtype: int64

In [23]:
print(df.isnull().sum())

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          4
duration        3
listed_in       0
description     0
dtype: int64

In [24]:
df.to_csv("data/cleanedNetflix.csv")

In [25]:
print(df.isnull().sum())

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          4
duration        3
listed_in       0
description     0
dtype: int64

In [27]:
df['rating'].fillna(df['rating'].mode()[0], inplace=True)
df['duration'].fillna('Unknown', inplace=True)

In [28]:
print(df.isnull().sum())

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [29]:
def cleanNetflix(df):
    df = df.copy()
    df["director"].fillna('Unknown',inplace=True)
    df["cast"].fillna("Not Available",inplace=True)
    df.fillna({'country':'Unknown'}, inplace=True)
    df['date_added'].fillna(df['date_added'].mode()[0], inplace=True)
    df['rating'].fillna(df['rating'].mode()[0], inplace=True)
    df['duration'].fillna('Unknown', inplace=True)
    
    return df

In [31]:
dff = pd.read_csv("C:\\Users\\Home\\Documents\\data science\\week6\\data\\netflix_titles.csv")

In [32]:
print(dff.isnull().sum())

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [34]:
dff = cleanNetflix(dff)

C:\Users\Home\AppData\Local\Temp\ipykernel_13868\1077136362.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["director"].fillna('Unknown',inplace=True)
C:\Users\Home\AppData\Local\Temp\ipykernel_13868\1077136362.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["cast"].fillna("Not Available",inplace=True)
C:\Users\Home\AppData\Local\Temp\ipykernel_13868\1077136362.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['date_added'].fillna(df['date_added'].mode()[0], inplace=True)
C:\Users\Home\AppData\Local\Temp\ipykernel_13868\1077136362.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna(df['rating'].mode()[0], inplace=True)
C:\Users\Home\AppData\Local\Temp\ipykernel_13868\1077136362.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['duration'].fillna('Unknown', inplace=True)

In [35]:
print(dff.isnull().sum())

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [36]:
dff.to_csv("data/cleanedNetflix.csv")