In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("C:\\Users\\Home\\Documents\\data science\\week6\\data\\cleanedNetflix.csv")

In [7]:
print(df.head(10))

   Unnamed: 0 show_id     type                             title  \
0           0      s1    Movie              Dick Johnson Is Dead
1           1      s2  TV Show                     Blood & Water
2           2      s3  TV Show                         Ganglands
3           3      s4  TV Show             Jailbirds New Orleans
4           4      s5  TV Show                      Kota Factory
5           5      s6  TV Show                     Midnight Mass
6           6      s7    Movie  My Little Pony: A New Generation
7           7      s8    Movie                           Sankofa
8           8      s9  TV Show     The Great British Baking Show
9           9     s10    Movie                      The Starling

                        director  \
0                Kirsten Johnson
1                        Unknown
2                Julien Leclercq
3                        Unknown
4                        Unknown
5                  Mike Flanagan
6  Robert Cullen, JosÃ© Luis Ucha
7                   Haile Gerima
8                Andy Devonshire
9                 Theodore Melfi

                                                cast  \
0                                      Not Available
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                      Not Available
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5  Kate Siegel, Zach Gilford, Hamish Linklater, H...
6  Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...

                                             country          date_added  \
0                                      United States  September 25, 2021
1                                       South Africa  September 24, 2021
2                                            Unknown  September 24, 2021
3                                            Unknown  September 24, 2021
4                                              India  September 24, 2021
5                                            Unknown  September 24, 2021
6                                            Unknown  September 24, 2021
7  United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
8                                     United Kingdom  September 24, 2021
9                                      United States  September 24, 2021

   release_year rating   duration  \
0          2020  PG-13     90 min
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons
5          2021  TV-MA   1 Season
6          2021     PG     91 min
7          1993  TV-MA    125 min
8          2021  TV-14  9 Seasons
9          2021  PG-13    104 min

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries
6                           Children & Family Movies
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
5  The arrival of a charismatic young priest brin...
6  Equestria's divided. But a bright-eyed hero be...
7  On a photo shoot in Ghana, an American model s...
8  A talented batch of amateur bakers face off in...
9  A woman adjusting to life after a loss contend...

In [8]:
print(df.isnull().sum())

Unnamed: 0      0
show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [9]:
def get_age_group(year):
    if year >= 2015:
        return 'Recent'
    elif year >= 2000:
        return 'Modern'
    elif year >= 1980:
        return 'Classic'
    else:
        return 'Old'

In [10]:
df['age_group'] = df['release_year'].apply(get_age_group)

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8807 non-null   int64
 1   show_id       8807 non-null   object
 2   type          8807 non-null   object
 3   title         8807 non-null   object
 4   director      8807 non-null   object
 5   cast          8807 non-null   object
 6   country       8807 non-null   object
 7   date_added    8807 non-null   object
 8   release_year  8807 non-null   int64
 9   rating        8807 non-null   object
 10  duration      8807 non-null   object
 11  listed_in     8807 non-null   object
 12  description   8807 non-null   object
 13  age_group     8807 non-null   object
dtypes: int64(2), object(12)
memory usage: 963.4+ KB
None

In [14]:
df['duration_mins'] = df['duration'].str.extract(r'(\d+)').astype(float)

In [15]:
print(df["duration_mins"])

0        90.0
1         2.0
2         1.0
3         1.0
4         2.0
        ...
8802    158.0
8803      2.0
8804     88.0
8805     88.0
8806    111.0
Name: duration_mins, Length: 8807, dtype: float64

In [16]:
movies_df = df[df["type"]=="Movie"].copy()
movies_df['duration_mins'] = movies_df['duration'].str.extract(r'(\d+)').astype(float)

In [20]:
average_dur = movies_df["duration_mins"].mean()
max_dur = movies_df["duration_mins"].max()
min_dur = movies_df["duration_mins"].min()

print(f"Average duration of movies: {average_dur:.2f} minutes")
print(f"max duration of movies: {max_dur:.2f} minutes")
print(f"min duration of movies: {min_dur:.2f} minutes")

Average duration of movies: 99.58 minutes
max duration of movies: 312.00 minutes
min duration of movies: 3.00 minutes

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     8807 non-null   int64
 1   show_id        8807 non-null   object
 2   type           8807 non-null   object
 3   title          8807 non-null   object
 4   director       8807 non-null   object
 5   cast           8807 non-null   object
 6   country        8807 non-null   object
 7   date_added     8807 non-null   object
 8   release_year   8807 non-null   int64
 9   rating         8807 non-null   object
 10  duration       8807 non-null   object
 11  listed_in      8807 non-null   object
 12  description    8807 non-null   object
 13  age_group      8807 non-null   object
 14  duration_mins  8804 non-null   float64
dtypes: float64(1), int64(2), object(12)
memory usage: 1.0+ MB
None

In [22]:
df['is_movie'] = df['type'].apply(lambda x: 1 if x == 'Movie' else 0)

In [23]:
print(df["is_movie"])

0       1
1       0
2       0
3       0
4       0
       ..
8802    1
8803    0
8804    1
8805    1
8806    1
Name: is_movie, Length: 8807, dtype: int64

In [24]:
df['release_decade'] = (df['release_year'] // 10) * 10
print(df["release_decade"])

0       2020
1       2020
2       2020
3       2020
4       2020
        ...
8802    2000
8803    2010
8804    2000
8805    2000
8806    2010
Name: release_decade, Length: 8807, dtype: int64

In [29]:
print((1999//10)*10)
print((2019%10))

1990
9

In [30]:
df['release_decade'] = (df['release_year'] // 10) * 10

In [31]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      8807 non-null   int64
 1   show_id         8807 non-null   object
 2   type            8807 non-null   object
 3   title           8807 non-null   object
 4   director        8807 non-null   object
 5   cast            8807 non-null   object
 6   country         8807 non-null   object
 7   date_added      8807 non-null   object
 8   release_year    8807 non-null   int64
 9   rating          8807 non-null   object
 10  duration        8807 non-null   object
 11  listed_in       8807 non-null   object
 12  description     8807 non-null   object
 13  age_group       8807 non-null   object
 14  duration_mins   8804 non-null   float64
 15  is_movie        8807 non-null   int64
 16  release_decade  8807 non-null   int64
dtypes: float64(1), int64(4), object(12)
memory usage: 1.1+ MB
None

In [32]:
df = pd.get_dummies(df, columns=['rating', 'type'], drop_first=True)

In [33]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       8807 non-null   int64
 1   show_id          8807 non-null   object
 2   title            8807 non-null   object
 3   director         8807 non-null   object
 4   cast             8807 non-null   object
 5   country          8807 non-null   object
 6   date_added       8807 non-null   object
 7   release_year     8807 non-null   int64
 8   duration         8807 non-null   object
 9   listed_in        8807 non-null   object
 10  description      8807 non-null   object
 11  age_group        8807 non-null   object
 12  duration_mins    8804 non-null   float64
 13  is_movie         8807 non-null   int64
 14  release_decade   8807 non-null   int64
 15  rating_74 min    8807 non-null   bool
 16  rating_84 min    8807 non-null   bool
 17  rating_G         8807 non-null   bool
 18  rating_NC-17     8807 non-null   bool
 19  rating_NR        8807 non-null   bool
 20  rating_PG        8807 non-null   bool
 21  rating_PG-13     8807 non-null   bool
 22  rating_R         8807 non-null   bool
 23  rating_TV-14     8807 non-null   bool
 24  rating_TV-G      8807 non-null   bool
 25  rating_TV-MA     8807 non-null   bool
 26  rating_TV-PG     8807 non-null   bool
 27  rating_TV-Y      8807 non-null   bool
 28  rating_TV-Y7     8807 non-null   bool
 29  rating_TV-Y7-FV  8807 non-null   bool
 30  rating_UR        8807 non-null   bool
 31  type_TV Show     8807 non-null   bool
dtypes: bool(17), float64(1), int64(4), object(10)
memory usage: 1.2+ MB
None

In [35]:
df['date_added'] = pd.to_datetime(df['date_added'].str.strip(), format='%B %d, %Y')
print(df["date_added"])

0      2021-09-25
1      2021-09-24
2      2021-09-24
3      2021-09-24
4      2021-09-24
          ...
8802   2019-11-20
8803   2019-07-01
8804   2019-11-01
8805   2020-01-11
8806   2019-03-02
Name: date_added, Length: 8807, dtype: datetime64[ns]

In [36]:
df['added_year'] = df['date_added'].dt.year
df['added_month'] = df['date_added'].dt.month
df['added_dayofweek'] = df['date_added'].dt.dayofweek

In [37]:
print(df['added_year'], df["added_month"], df["added_dayofweek"])

0       2021
1       2021
2       2021
3       2021
4       2021
        ...
8802    2019
8803    2019
8804    2019
8805    2020
8806    2019
Name: added_year, Length: 8807, dtype: int32 0        9
1        9
2        9
3        9
4        9
        ..
8802    11
8803     7
8804    11
8805     1
8806     3
Name: added_month, Length: 8807, dtype: int32 0       5
1       4
2       4
3       4
4       4
       ..
8802    2
8803    0
8804    4
8805    5
8806    5
Name: added_dayofweek, Length: 8807, dtype: int32

In [38]:
df['added_delay'] = df['added_year'] - df['release_year']
print(df["added_delay"])

0        1
1        0
2        0
3        0
4        0
        ..
8802    12
8803     1
8804    10
8805    14
8806     4
Name: added_delay, Length: 8807, dtype: int64

In [46]:
df = df.rename(columns={
    'Unnamed: 0':'sr_no'
})

In [47]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sr_no            8807 non-null   int64
 1   show_id          8807 non-null   object
 2   title            8807 non-null   object
 3   director         8807 non-null   object
 4   cast             8807 non-null   object
 5   country          8807 non-null   object
 6   date_added       8807 non-null   datetime64[ns]
 7   release_year     8807 non-null   int64
 8   duration         8807 non-null   object
 9   listed_in        8807 non-null   object
 10  description      8807 non-null   object
 11  age_group        8807 non-null   object
 12  duration_mins    8804 non-null   float64
 13  is_movie         8807 non-null   int64
 14  release_decade   8807 non-null   int64
 15  rating_74 min    8807 non-null   bool
 16  rating_84 min    8807 non-null   bool
 17  rating_G         8807 non-null   bool
 18  rating_NC-17     8807 non-null   bool
 19  rating_NR        8807 non-null   bool
 20  rating_PG        8807 non-null   bool
 21  rating_PG-13     8807 non-null   bool
 22  rating_R         8807 non-null   bool
 23  rating_TV-14     8807 non-null   bool
 24  rating_TV-G      8807 non-null   bool
 25  rating_TV-MA     8807 non-null   bool
 26  rating_TV-PG     8807 non-null   bool
 27  rating_TV-Y      8807 non-null   bool
 28  rating_TV-Y7     8807 non-null   bool
 29  rating_TV-Y7-FV  8807 non-null   bool
 30  rating_UR        8807 non-null   bool
 31  type_TV Show     8807 non-null   bool
 32  added_year       8807 non-null   int32
 33  added_month      8807 non-null   int32
 34  added_dayofweek  8807 non-null   int32
 35  added_delay      8807 non-null   int64
dtypes: bool(17), datetime64[ns](1), float64(1), int32(3), int64(5), object(9)
memory usage: 1.3+ MB
None

In [48]:
print(df.head(5))

   sr_no show_id                  title         director  \
0      0      s1   Dick Johnson Is Dead  Kirsten Johnson
1      1      s2          Blood & Water          Unknown
2      2      s3              Ganglands  Julien Leclercq
3      3      s4  Jailbirds New Orleans          Unknown
4      4      s5           Kota Factory          Unknown

                                                cast        country  \
0                                      Not Available  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...        Unknown
3                                      Not Available        Unknown
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

  date_added  release_year   duration  \
0 2021-09-25          2020     90 min
1 2021-09-24          2021  2 Seasons
2 2021-09-24          2021   1 Season
3 2021-09-24          2021   1 Season
4 2021-09-24          2021  2 Seasons

                                           listed_in  ... rating_TV-PG  \
0                                      Documentaries  ...        False
1    International TV Shows, TV Dramas, TV Mysteries  ...        False
2  Crime TV Shows, International TV Shows, TV Act...  ...        False
3                             Docuseries, Reality TV  ...        False
4  International TV Shows, Romantic TV Shows, TV ...  ...        False

  rating_TV-Y  rating_TV-Y7  rating_TV-Y7-FV  rating_UR  type_TV Show  \
0       False         False            False      False         False
1       False         False            False      False          True
2       False         False            False      False          True
3       False         False            False      False          True
4       False         False            False      False          True

   added_year  added_month  added_dayofweek  added_delay
0        2021            9                5            1
1        2021            9                4            0
2        2021            9                4            0
3        2021            9                4            0
4        2021            9                4            0

[5 rows x 36 columns]

In [49]:
df.to_csv("data/day3_cleaned_dataset.csv")