In [1]:
import pandas as pd

In [17]:
dfexcel = pd.read_excel('C:\\Users\\Home\\Downloads\\Documents\\SampleData.xlsx')

In [3]:
dfexcel.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S
5,6,0,3,"Moran, Mr. James",male,0.0,0,0,330877,8.4583,0,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,0,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,0,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,0,C

In [5]:
dfexcel["Sex"].map({"male":"m","female":"f"}).head(10)

0    m
1    f
2    f
3    f
4    m
5    m
6    m
7    m
8    f
9    f
Name: Sex, dtype: object

In [22]:
dfexcel["Age"] = dfexcel["Age"].replace(0,dfexcel["Age"].mean())
dfexcel.groupby("Age")["Sex"].count()

Age
0.42     1
0.67     1
0.75     2
0.83     2
0.92     1
        ..
70.00    2
70.50    1
71.00    2
74.00    1
80.00    1
Name: Sex, Length: 89, dtype: int64

In [28]:
dfexcel['Age'].apply(lambda x: x < 10).sum()

62

In [32]:
dfexcel['Age'] = dfexcel['Age'].round()
dfexcel.sort_values(by='Age',ascending=True).head(10)
dfexcel.groupby("Age")["Sex"].count()

Age
0.0      1
1.0     13
2.0     10
3.0      6
4.0     10
        ..
66.0     1
70.0     3
71.0     2
74.0     1
80.0     1
Name: Sex, Length: 71, dtype: int64