In [1]:
import pandas as pd

In [2]:
dfexcel = pd.read_excel('C:\\Users\\Home\\Downloads\\Documents\\SampleData.xlsx')

In [4]:
print(dfexcel.head(10))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare  ... Unnamed: 16 Unnamed: 17  Unnamed: 18  \
0      0         A/5 21171   7.2500  ...         NaN         NaN          NaN
1      0          PC 17599  71.2833  ...         NaN         NaN          NaN
2      0  STON/O2. 3101282   7.9250  ...         NaN         NaN          NaN
3      0            113803  53.1000  ...         NaN         NaN          NaN
4      0            373450   8.0500  ...         NaN         NaN          NaN
5      0            330877   8.4583  ...         NaN         NaN          NaN
6      0             17463  51.8625  ...         NaN         NaN          NaN
7      1            349909  21.0750  ...         NaN         NaN          NaN
8      2            347742  11.1333  ...         NaN         NaN          NaN
9      0            237736  30.0708  ...         NaN         NaN          NaN

   Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   Unnamed: 24  Unnamed: 25
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN           We
5          NaN          NaN
6          NaN          NaN
7          NaN          NaN
8          NaN          NaN
9          NaN          NaN

[10 rows x 26 columns]

In [7]:
dfexcel.sort_values(by='Fare').head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,467,0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
dfexcel.groupby("Sex")["Fare"].sum()

Sex
female    13966.6628
male      14727.2865
Name: Fare, dtype: float64

In [14]:
dfexcel.groupby("Sex").size()

Sex
female    314
male      577
dtype: int64

In [16]:
dfexcel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  Unnamed: 12  0 non-null      float64
 13  Unnamed: 13  0 non-null      float64
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  2 non-null      object
dtypes: float64(15), int64(5), object(6)
memory usage: 181.1+ KB

In [17]:
dfexcel['Fare'] = dfexcel['Fare'].astype(int)

In [18]:
print(dfexcel['Fare'])

0       7
1      71
2       7
3      53
4       8
       ..
886    13
887    30
888    23
889    30
890     7
Name: Fare, Length: 891, dtype: int32

In [22]:
dfexcel['Age'].isnull().sum()

177

In [23]:
dfexcel["Age"].fillna(dfexcel["Age"].mean(),inplace=True)

C:\Users\Home\AppData\Local\Temp\ipykernel_23324\3876551338.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfexcel["Age"].fillna(dfexcel["Age"].mean(),inplace=True)

In [24]:
dfexcel['Age'].isnull().sum()

0

In [25]:
dfexcel.rename(columns={"Sex":"Gender","Fare":"Price"},inplace=True)

In [26]:
print(dfexcel.head(10))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name  Gender        Age  \
0                            Braund, Mr. Owen Harris    male  22.000000
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                             Heikkinen, Miss. Laina  female  26.000000
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                           Allen, Mr. William Henry    male  35.000000
5                                   Moran, Mr. James    male  29.699118
6                            McCarthy, Mr. Timothy J    male  54.000000
7                     Palsson, Master. Gosta Leonard    male   2.000000
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.000000
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.000000

   SibSp  Parch            Ticket  Price  ... Unnamed: 16 Unnamed: 17  \
0      1      0         A/5 21171      7  ...         NaN         NaN
1      1      0          PC 17599     71  ...         NaN         NaN
2      0      0  STON/O2. 3101282      7  ...         NaN         NaN
3      1      0            113803     53  ...         NaN         NaN
4      0      0            373450      8  ...         NaN         NaN
5      0      0            330877      8  ...         NaN         NaN
6      0      0             17463     51  ...         NaN         NaN
7      3      1            349909     21  ...         NaN         NaN
8      0      2            347742     11  ...         NaN         NaN
9      1      0            237736     30  ...         NaN         NaN

   Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   Unnamed: 23  Unnamed: 24  Unnamed: 25
0          NaN          NaN          NaN
1          NaN          NaN          NaN
2          NaN          NaN          NaN
3          NaN          NaN          NaN
4          NaN          NaN           We
5          NaN          NaN          NaN
6          NaN          NaN          NaN
7          NaN          NaN          NaN
8          NaN          NaN          NaN
9          NaN          NaN          NaN

[10 rows x 26 columns]

In [27]:
df1 = pd.DataFrame({
    'ID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Dept': ['HR', 'IT', 'Finance']
})

df2 = pd.DataFrame({
    'ID': [102, 103, 104],
    'Salary': [50000, 60000, 70000]
})

In [28]:
print(df1)
print(df2)

    ID     Name     Dept
0  101    Alice       HR
1  102      Bob       IT
2  103  Charlie  Finance
    ID  Salary
0  102   50000
1  103   60000
2  104   70000

In [31]:
dfconcat = pd.concat([df1,df2],axis=0)
print(dfconcat)

    ID     Name     Dept   Salary
0  101    Alice       HR      NaN
1  102      Bob       IT      NaN
2  103  Charlie  Finance      NaN
0  102      NaN      NaN  50000.0
1  103      NaN      NaN  60000.0
2  104      NaN      NaN  70000.0

In [33]:
dfmerge = pd.merge(df1,df2,on="ID")
print(dfmerge)

    ID     Name     Dept  Salary
0  102      Bob       IT   50000
1  103  Charlie  Finance   60000

In [34]:
dfmerge = pd.merge(df1,df2,how="left")
print(dfmerge)

    ID     Name     Dept   Salary
0  101    Alice       HR      NaN
1  102      Bob       IT  50000.0
2  103  Charlie  Finance  60000.0

In [35]:
dfmerge = pd.merge(df1,df2,how="right")
print(dfmerge)

    ID     Name     Dept  Salary
0  102      Bob       IT   50000
1  103  Charlie  Finance   60000
2  104      NaN      NaN   70000

In [36]:
dfmerge = pd.merge(df1,df2,how="inner")
print(dfmerge)

    ID     Name     Dept  Salary
0  102      Bob       IT   50000
1  103  Charlie  Finance   60000

In [37]:
dfmerge = pd.merge(df1,df2,how="outer")
print(dfmerge)

    ID     Name     Dept   Salary
0  101    Alice       HR      NaN
1  102      Bob       IT  50000.0
2  103  Charlie  Finance  60000.0
3  104      NaN      NaN  70000.0

In [42]:
df1.join(df2, how='left')  # Joins on index by default

ValueError: columns overlap but no suffix specified: Index(['ID'], dtype='object')