# Step 1: Understanding Today‚Äôs Topics
## 1. Binning / Bucketing

- What it is: Converting continuous values into categorical buckets.
- Example: Sales values ‚Üí Low, Medium, High.
- Why: Some algorithms work better with categorized values; also useful for interpretation.
#### Types:
- Equal Width Binning: Divide the range into equal intervals (e.g., 0‚Äì100, 101‚Äì200, 201‚Äì300).
- Equal Frequency Binning: Each bin has (roughly) the same number of observations.

## 2. Scaling

- What it is: Transforming numerical features so they‚Äôre on the same scale.
- Why: Many ML algorithms (like KNN, Logistic Regression, Neural Nets) are sensitive to feature magnitudes.
#### Common techniques:
### - Min-Max Scaling (Normalization): Values between 0 and 1.
- Formula: 
- - ( ùë• ‚àí ùëöùëñùëõ ) / (ùëöùëéùë• ‚àí ùëöùëñùëõ)

### ‚Üí Keeps distribution shape but compresses into [0,1].
Standardization (Z-score): Mean = 0, Std Dev = 1.
- Formula: 
- - (x‚àímean)/std
- Good when data is normally distributed.

In [13]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler
df = pd.read_csv("data/Sales.csv")

In [14]:
print(df.head(10))

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2017-152156  08/11/2017  11/11/2017    Second Class    CG-12520
1       2  CA-2017-152156  08/11/2017  11/11/2017    Second Class    CG-12520
2       3  CA-2017-138688  12/06/2017  16/06/2017    Second Class    DV-13045
3       4  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
4       5  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
5       6  CA-2015-115812  09/06/2015  14/06/2015  Standard Class    BH-11710
6       7  CA-2015-115812  09/06/2015  14/06/2015  Standard Class    BH-11710
7       8  CA-2015-115812  09/06/2015  14/06/2015  Standard Class    BH-11710
8       9  CA-2015-115812  09/06/2015  14/06/2015  Standard Class    BH-11710
9      10  CA-2015-115812  09/06/2015  14/06/2015  Standard Class    BH-11710

     Customer Name    Segment        Country             City       State  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
5  Brosina Hoffman   Consumer  United States      Los Angeles  California
6  Brosina Hoffman   Consumer  United States      Los Angeles  California
7  Brosina Hoffman   Consumer  United States      Los Angeles  California
8  Brosina Hoffman   Consumer  United States      Los Angeles  California
9  Brosina Hoffman   Consumer  United States      Los Angeles  California

   Postal Code Region       Product ID         Category Sub-Category  \
0      42420.0  South  FUR-BO-10001798        Furniture    Bookcases
1      42420.0  South  FUR-CH-10000454        Furniture       Chairs
2      90036.0   West  OFF-LA-10000240  Office Supplies       Labels
3      33311.0  South  FUR-TA-10000577        Furniture       Tables
4      33311.0  South  OFF-ST-10000760  Office Supplies      Storage
5      90032.0   West  FUR-FU-10001487        Furniture  Furnishings
6      90032.0   West  OFF-AR-10002833  Office Supplies          Art
7      90032.0   West  TEC-PH-10002275       Technology       Phones
8      90032.0   West  OFF-BI-10003910  Office Supplies      Binders
9      90032.0   West  OFF-AP-10002892  Office Supplies   Appliances

                                        Product Name     Sales
0                  Bush Somerset Collection Bookcase  261.9600
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2  Self-Adhesive Address Labels for Typewriters b...   14.6200
3      Bretford CR4500 Series Slim Rectangular Table  957.5775
4                     Eldon Fold 'N Roll Cart System   22.3680
5  Eldon Expressions Wood and Plastic Desk Access...   48.8600
6                                         Newell 322    7.2800
7                     Mitel 5320 IP Phone VoIP phone  907.1520
8  DXL Angle-View Binders with Locking Rings by S...   18.5040
9                   Belkin F5C206VTEL 6 Outlet Surge  114.9000

In [15]:
df['Sales'].describe()

count     9800.000000
mean       230.769059
std        626.651875
min          0.444000
25%         17.248000
50%         54.490000
75%        210.605000
max      22638.480000
Name: Sales, dtype: float64

In [16]:
bins = pd.cut(df['Sales'], bins=5)  # 5 equal-width bins
df['Sales_Bin_Width'] = bins
print(df["Sales_Bin_Width"])

0       (-22.194, 4528.051]
1       (-22.194, 4528.051]
2       (-22.194, 4528.051]
3       (-22.194, 4528.051]
4       (-22.194, 4528.051]
               ...
9795    (-22.194, 4528.051]
9796    (-22.194, 4528.051]
9797    (-22.194, 4528.051]
9798    (-22.194, 4528.051]
9799    (-22.194, 4528.051]
Name: Sales_Bin_Width, Length: 9800, dtype: category
Categories (5, interval[float64, right]): [(-22.194, 4528.051] < (4528.051, 9055.658] < (9055.658, 13583.266] < (13583.266, 18110.873] < (18110.873, 22638.48]]

In [17]:
bins = pd.qcut(df['Sales'], q=5)  # 5 equal-frequency bins
df['Sales_Bin_Freq'] = bins
print(df["Sales_Bin_Freq"])

0         (89.834, 283.92]
1       (283.92, 22638.48]
2          (13.827, 34.24]
3       (283.92, 22638.48]
4          (13.827, 34.24]
               ...
9795       (0.443, 13.827]
9796       (0.443, 13.827]
9797      (89.834, 283.92]
9798       (13.827, 34.24]
9799       (0.443, 13.827]
Name: Sales_Bin_Freq, Length: 9800, dtype: category
Categories (5, interval[float64, right]): [(0.443, 13.827] < (13.827, 34.24] < (34.24, 89.834] < (89.834, 283.92] < (283.92, 22638.48]]

In [18]:
print(df['Sales_Bin_Width'].value_counts().sort_index())
print(df['Sales_Bin_Freq'].value_counts().sort_index())

Sales_Bin_Width
(-22.194, 4528.051]       9773
(4528.051, 9055.658]        19
(9055.658, 13583.266]        5
(13583.266, 18110.873]       2
(18110.873, 22638.48]        1
Name: count, dtype: int64
Sales_Bin_Freq
(0.443, 13.827]       1960
(13.827, 34.24]       1962
(34.24, 89.834]       1958
(89.834, 283.92]      1961
(283.92, 22638.48]    1959
Name: count, dtype: int64

In [19]:
scaler_minmax = MinMaxScaler()
df['Sales_MinMax'] = scaler_minmax.fit_transform(df[['Sales']])

scaler_standard = StandardScaler()
df['Sales_Standard'] = scaler_standard.fit_transform(df[['Sales']])

In [ ]:
df[['Sales','Sales_MinMax','Sales_Standard','Sales_Bin_Width','Sales_Bin_Freq']].head(10)

,Sales,Sales_MinMax,Sales_Standard,Sales_Bin_Width,Sales_Bin_Freq
0,261.9600,0.011552,0.049776,"(-22.194, 4528.051]","(89.834, 283.92]"
1,731.9400,0.032313,0.799801,"(-22.194, 4528.051]","(283.92, 22638.48]"
2,14.6200,0.000626,-0.344944,"(-22.194, 4528.051]","(13.827, 34.24]"
3,957.5775,0.042280,1.159887,"(-22.194, 4528.051]","(283.92, 22638.48]"
4,22.3680,0.000968,-0.332580,"(-22.194, 4528.051]","(13.827, 34.24]"
5,48.8600,0.002139,-0.290302,"(-22.194, 4528.051]","(34.24, 89.834]"
6,7.2800,0.000302,-0.356658,"(-22.194, 4528.051]","(0.443, 13.827]"
7,907.1520,0.040052,1.079415,"(-22.194, 4528.051]","(283.92, 22638.48]"
8,18.5040,0.000798,-0.338746,"(-22.194, 4528.051]","(13.827, 34.24]"
9,114.9000,0.005056,-0.184911,"(-22.194, 4528.051]","(89.834, 283.92]"

In [21]:
df = pd.read_csv("data/superstore.csv")
print(df.head(10))

         Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0  CA-2019-103800  2019-01-03  2019-01-07  Standard Class    DP-13000
1  CA-2019-112326  2019-01-04  2019-01-08  Standard Class    PO-19195
2  CA-2019-112326  2019-01-04  2019-01-08  Standard Class    PO-19195
3  CA-2019-112326  2019-01-04  2019-01-08  Standard Class    PO-19195
4  CA-2019-141817  2019-01-05  2019-01-12  Standard Class    MB-18085
5  CA-2019-167199  2019-01-06  2019-01-10  Standard Class    ME-17320
6  CA-2019-167199  2019-01-06  2019-01-10  Standard Class    ME-17320
7  CA-2019-167199  2019-01-06  2019-01-10  Standard Class    ME-17320
8  CA-2019-106054  2019-01-06  2019-01-07     First Class    JO-15145
9  CA-2019-167199  2019-01-06  2019-01-10  Standard Class    ME-17320

   Customer Name      Segment        Country          City         State  ...  \
0  Darren Powers     Consumer  United States       Houston         Texas  ...
1  Phillina Ober  Home Office  United States    Naperville      Illinois  ...
2  Phillina Ober  Home Office  United States    Naperville      Illinois  ...
3  Phillina Ober  Home Office  United States    Naperville      Illinois  ...
4     Mick Brown     Consumer  United States  Philadelphia  Pennsylvania  ...
5  Maria Etezadi  Home Office  United States     Henderson      Kentucky  ...
6  Maria Etezadi  Home Office  United States     Henderson      Kentucky  ...
7  Maria Etezadi  Home Office  United States     Henderson      Kentucky  ...
8  Jack O'Briant    Corporate  United States        Athens       Georgia  ...
9  Maria Etezadi  Home Office  United States     Henderson      Kentucky  ...

    Region       Product ID         Category Sub-Category  \
0  Central  OFF-PA-10000174  Office Supplies        Paper
1  Central  OFF-LA-10003223  Office Supplies       Labels
2  Central  OFF-ST-10002743  Office Supplies      Storage
3  Central  OFF-BI-10004094  Office Supplies      Binders
4     East  OFF-AR-10003478  Office Supplies          Art
5    South  OFF-AR-10001662  Office Supplies          Art
6    South  FUR-CH-10004063        Furniture       Chairs
7    South  OFF-BI-10004632  Office Supplies      Binders
8    South  OFF-AR-10002399  Office Supplies          Art
9    South  TEC-PH-10004977       Technology       Phones

                                        Product Name     Sales  Quantity  \
0  Message Book, Wirebound, Four 5 1/2" X 4" Form...    16.448         2
1                                          Avery 508    11.784         3
2                      SAFCO Boltless Steel Shelving   272.736         3
3         GBC Standard Plastic Binding Systems Combs     3.540         2
4  Avery Hi-Liter EverBold Pen Style Fluorescent ...    19.536         3
5            Rogers Handheld Barrel Pencil Sharpener     5.480         2
6            Global Deluxe High-Back Manager's Chair  2573.820         9
7                Ibico Hi-Tech Manual Binding System   609.980         2
8  Dixon Prang Watercolor Pencils, 10-Color Set w...    12.780         3
9                                        GE 30524EE4   391.980         2

   Discount    Profit  Profit Margin %
0       0.2    5.5512            33.75
1       0.2    4.2717            36.25
2       0.2  -64.7748           -23.75
3       0.8   -5.4870          -155.00
4       0.2    4.8840            25.00
5       0.0    1.4796            27.00
6       0.0  746.4078            29.00
7       0.0  274.4910            45.00
8       0.0    5.2398            41.00
9       0.0  113.6742            29.00

[10 rows x 21 columns]