In [2]:
import pandas as pd

In [3]:
emp = pd.read_csv("data/employees.csv")
dep = pd.read_csv("data/departments.csv")

In [6]:
print(emp)

   emp_id emp_name  dept_id
0     101     John      1.0
1     102    Alice      2.0
2     103      Bob      1.0
3     104      Eva      3.0
4     105     Mike      NaN

In [7]:
print(dep)

   dept_id    dept_name
0        1           HR
1        2      Finance
2        3  Engineering
3        4    Marketing

In [4]:
inner_join = pd.merge(emp,dep,on="dept_id",how="inner")
print(inner_join)

   emp_id emp_name  dept_id    dept_name
0     101     John      1.0           HR
1     102    Alice      2.0      Finance
2     103      Bob      1.0           HR
3     104      Eva      3.0  Engineering

In [8]:
left_join = pd.merge(emp,dep,on="dept_id",how="left")
print(left_join)

   emp_id emp_name  dept_id    dept_name
0     101     John      1.0           HR
1     102    Alice      2.0      Finance
2     103      Bob      1.0           HR
3     104      Eva      3.0  Engineering
4     105     Mike      NaN          NaN

In [9]:
right_join = pd.merge(emp,dep,on="dept_id",how="right")
print(right_join)

   emp_id emp_name  dept_id    dept_name
0   101.0     John      1.0           HR
1   103.0      Bob      1.0           HR
2   102.0    Alice      2.0      Finance
3   104.0      Eva      3.0  Engineering
4     NaN      NaN      4.0    Marketing