In [1]:
import pandas as pd

In [17]:
data = pd.read_csv("C:\\Users\\Home\\Downloads\\Documents\\covid_19_india.csv")

In [18]:
print(data.tail(10))

     Unnamed: 0        Date       State/UT  Latitude  Longitude  Confirmed  \
942         942  2020/04/15         Odisha   20.9517    85.0985         60
943         943  2020/04/15     Puducherry   11.9416    79.8083          7
944         944  2020/04/15         Punjab   31.1471    75.3412        176
945         945  2020/04/15      Rajasthan   27.0238    74.2179        969
946         946  2020/04/15     Tamil Nadu   11.1271    78.6569       1204
947         947  2020/04/15      Telengana   18.1124    79.0193        624
948         948  2020/04/15        Tripura   23.9408    91.9882          2
949         949  2020/04/15  Uttar Pradesh   26.8467    80.9462        660
950         950  2020/04/15    Uttarakhand   30.0668    79.0193         37
951         951  2020/04/15    West Bengal   22.9868    87.8550        213

     Active  Deaths  Mortality rate  Cured  Recovery rate
942      41       1        0.016667     18       0.300000
943       6       0        0.000000      1       0.142857
944     150      12        0.068182     14       0.079545
945     819       3        0.003096    147       0.151703
946    1111      12        0.009967     81       0.067276
947     507      17        0.027244    100       0.160256
948       2       0        0.000000      0       0.000000
949     605       5        0.007576     50       0.075758
950      28       0        0.000000      9       0.243243
951     169       7        0.032864     37       0.173709

In [22]:
data.drop('unnamed', axis=1, inplace=True)

KeyError: "['unnamed'] not found in axis"

In [24]:
print(data.columns.tolist())

['Unnamed: 0', 'Date', 'State/UT', 'Latitude', 'Longitude', 'Confirmed', 'Active', 'Deaths', 'Mortality rate', 'Cured', 'Recovery rate']

In [25]:
data.drop("Unnamed: 0", axis=1, inplace=True)

In [26]:
print(data)

           Date       State/UT  Latitude  Longitude  Confirmed  Active  \
0    2020/01/30         Kerala   10.8505    76.2711          1       1
1    2020/01/31         Kerala   10.8505    76.2711          1       1
2    2020/02/01         Kerala   10.8505    76.2711          2       2
3    2020/02/02         Kerala   10.8505    76.2711          3       3
4    2020/02/03         Kerala   10.8505    76.2711          3       3
..          ...            ...       ...        ...        ...     ...
947  2020/04/15      Telengana   18.1124    79.0193        624     507
948  2020/04/15        Tripura   23.9408    91.9882          2       2
949  2020/04/15  Uttar Pradesh   26.8467    80.9462        660     605
950  2020/04/15    Uttarakhand   30.0668    79.0193         37      28
951  2020/04/15    West Bengal   22.9868    87.8550        213     169

     Deaths  Mortality rate  Cured  Recovery rate
0         0        0.000000      0       0.000000
1         0        0.000000      0       0.000000
2         0        0.000000      0       0.000000
3         0        0.000000      0       0.000000
4         0        0.000000      0       0.000000
..      ...             ...    ...            ...
947      17        0.027244    100       0.160256
948       0        0.000000      0       0.000000
949       5        0.007576     50       0.075758
950       0        0.000000      9       0.243243
951       7        0.032864     37       0.173709

[952 rows x 10 columns]

In [28]:
data.isnull().sum()

Date              0
State/UT          0
Latitude          0
Longitude         0
Confirmed         0
Active            0
Deaths            0
Mortality rate    2
Cured             0
Recovery rate     2
dtype: int64

In [31]:
data["Mortality rate"].mean(), data["Recovery rate"].mean()

(0.02206910978134304, 0.0928798640050857)

In [33]:
nan_positions = data['Mortality rate'][data['Mortality rate'].isna()].index.tolist()
nan_positions

[37, 941]

In [38]:
print(data.iat[37, 7])
print(data.iat[941, 7])

nan
nan

In [39]:
data.iloc[37, 7] = (data.iat[36, 7] + data.iat[38, 7]) / 2

In [42]:
print(data.iat[36, 7])  
print(data.iat[38, 7])
print(data.iat[37, 7])

0.0
0.0
0.0

In [43]:
data.isnull().sum()

Date              0
State/UT          0
Latitude          0
Longitude         0
Confirmed         0
Active            0
Deaths            0
Mortality rate    1
Cured             0
Recovery rate     2
dtype: int64

In [45]:
print(data.iat[940, 7])
print(data.iat[942, 7])
data.iloc[941, 7] = (data.iat[940, 7] + data.iat[942, 7]) / 2

0.0
0.0166666666666666

In [46]:
print(data.iat[941, 7])
data.isnull().sum()

0.0083333333333333

Date              0
State/UT          0
Latitude          0
Longitude         0
Confirmed         0
Active            0
Deaths            0
Mortality rate    0
Cured             0
Recovery rate     2
dtype: int64

In [47]:
data['Recovery rate'][data['Recovery rate'].isna()].index.tolist()

[37, 941]

In [51]:
print(data.iat[36, 9])  
print(data.iat[38, 9])
print(data.iat[37, 9])

1.0
0.0
nan

In [52]:
data.iloc[37, 9] = (data.iat[36, 9] + data.iat[38, 9]) / 2

In [50]:
print(data.loc[942, "Mortality rate"])

0.0166666666666666

In [54]:
print(data.iat[940, 9])  
print(data.iat[942, 9])
print(data.iat[941, 9])

0.0
0.3
nan

In [55]:
data.iloc[941, 9] = (data.iat[940, 9] + data.iat[942, 9]) / 2

In [57]:
data.isnull().sum()

Date              0
State/UT          0
Latitude          0
Longitude         0
Confirmed         0
Active            0
Deaths            0
Mortality rate    0
Cured             0
Recovery rate     0
dtype: int64

In [58]:
data.to_csv("covid_india_cleaned.csv")