In [18]:
import pandas as pd
from ydata_profiling import ProfileReport

In [2]:
df = pd.read_csv("data/airlines_flights.csv")

In [4]:
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB
None
   index   airline   flight source_city departure_time stops   arrival_time  \
0      0  SpiceJet  SG-8709       Delhi        Evening  zero          Night
1      1  SpiceJet  SG-8157       Delhi  Early_Morning  zero        Morning
2      2   AirAsia   I5-764       Delhi  Early_Morning  zero  Early_Morning
3      3   Vistara   UK-995       Delhi        Morning  zero      Afternoon
4      4   Vistara   UK-963       Delhi        Morning  zero        Morning

  destination_city    class  duration  days_left  price
0           Mumbai  Economy      2.17          1   5953
1           Mumbai  Economy      2.33          1   5953
2           Mumbai  Economy      2.17          1   5956
3           Mumbai  Economy      2.25          1   5955
4           Mumbai  Economy      2.33          1   5955

In [8]:
# % of nulls in each column
print(df.isnull().mean() * 100)

# # + of all nulls in a column
print(df.isnull().sum())

index               0.0
airline             0.0
flight              0.0
source_city         0.0
departure_time      0.0
stops               0.0
arrival_time        0.0
destination_city    0.0
class               0.0
duration            0.0
days_left           0.0
price               0.0
dtype: float64
index               0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [9]:
# Number of unique values per column
print(df.nunique())

# Check for duplicate rows
print("Duplicates:", df.duplicated().sum())

index               300153
airline                  6
flight                1561
source_city              6
departure_time           6
stops                    3
arrival_time             6
destination_city         6
class                    2
duration               476
days_left               49
price                12157
dtype: int64
Duplicates: 0

In [10]:
# Data types
print(df.dtypes)

# Summary statistics for all columns (including objects)
print(df.describe(include="all"))

index                 int64
airline              object
flight               object
source_city          object
departure_time       object
stops                object
arrival_time         object
destination_city     object
class                object
duration            float64
days_left             int64
price                 int64
dtype: object
                index  airline  flight source_city departure_time   stops  \
count   300153.000000   300153  300153      300153         300153  300153
unique            NaN        6    1561           6              6       3
top               NaN  Vistara  UK-706       Delhi        Morning     one
freq              NaN   127859    3235       61343          71146  250863
mean    150076.000000      NaN     NaN         NaN            NaN     NaN
std      86646.852011      NaN     NaN         NaN            NaN     NaN
min          0.000000      NaN     NaN         NaN            NaN     NaN
25%      75038.000000      NaN     NaN         NaN            NaN     NaN
50%     150076.000000      NaN     NaN         NaN            NaN     NaN
75%     225114.000000      NaN     NaN         NaN            NaN     NaN
max     300152.000000      NaN     NaN         NaN            NaN     NaN

       arrival_time destination_city    class       duration      days_left  \
count        300153           300153   300153  300153.000000  300153.000000
unique            6                6        2            NaN            NaN
top           Night           Mumbai  Economy            NaN            NaN
freq          91538            59097   206666            NaN            NaN
mean            NaN              NaN      NaN      12.221021      26.004751
std             NaN              NaN      NaN       7.191997      13.561004
min             NaN              NaN      NaN       0.830000       1.000000
25%             NaN              NaN      NaN       6.830000      15.000000
50%             NaN              NaN      NaN      11.250000      26.000000
75%             NaN              NaN      NaN      16.170000      38.000000
max             NaN              NaN      NaN      49.830000      49.000000

                price
count   300153.000000
unique            NaN
top               NaN
freq              NaN
mean     20889.660523
std      22697.767366
min       1105.000000
25%       4783.000000
50%       7425.000000
75%      42521.000000
max     123071.000000

In [19]:
# profile = ProfileReport(df, title="Pandas Profiling Report")
# profile.to_file("eda_report.html")

100%|██████████| 12/12 [00:05<00:00,  2.38it/s]5<00:03,  2.13it/s, Describe variable: price]
Summarize dataset: 100%|██████████| 37/37 [00:11<00:00,  3.29it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.53s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.45s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 181.05it/s]