# P-value
- Imagine you toss a coin 10 times and get 9 heads. You might wonder: Is this coin fair or biased?
The p-value is the probability of observing such extreme results (or more extreme) if the coin were actually fair.

- If p-value is very small (e.g., 0.001), it means "such an extreme result is very unlikely if the null hypothesis is true."

- But it doesn’t prove the null is false or the alternative is true. It just says: this data would be rare if the null were correct.

- <b>⚠️ Common mistake:</b> Thinking p < 0.05 means the hypothesis is 95% true. → Wrong. It’s just a measure of evidence against the null, not the truth probability.

# Confidence Interval (CI)
A CI is like saying:
- “We are 95% confident that the true average income lies between X and Y.”
- It means if we repeated the experiment many times, 95% of those intervals would cover the true value.
- It’s not a guarantee for one sample, it’s about the process.

In [1]:
import pandas as pd

df = pd.read_csv("data/adult.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [1]:
group1 = df[df["income"] == " >50K"]["age"]
group2 = df[df["income"] == " <=50K"]["age"]

obs_diff = group1.mean() - group2.mean()
print("Observed mean age difference:", obs_diff)

NameError: name 'df' is not defined